@charset "utf-8";
/* CSS Document */
.ui-navbar
{
	padding: 10px;
	
}

.ui-btn
{
	margin: 25px;
	width: 20px;
	height: 20px;
}


.ui-btn ui-icon-camera ui-btn-icon-notext
{
	margin: 25px;
	width: 20px;
	height: 20px;
}